.search-bar {
  width: 300px;
  max-width: 90%;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;

  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  border-radius: 12px;
}

.search-btn {
  height: 30px;
  border: 1px solid #e5e7eb;
  background-color: #111827;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 12px;
  color: #f9fafb;
  cursor: pointer;
}

.input-search {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  outline: none;
  background: transparent;
  color: #1f2937;
}
