.ciudadanos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: #f1f6fe;
}

.ciudadanos-header {
  display: flex;
  justify-content: space-between;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;

  border: none;
  border-radius: 11px;

  background-color: #dbeafe;
  color: #2563eb;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}

.primary-button:hover {
  background-color: #bfdbfe;
  color: #1d4ed8;

  transform: translateY(-1px);
}

.primary-button:active {
  transform: translateY(0);
}

.primary-button i {
  font-size: 16px;
}

@media (max-width: 600px) {
  .primary-button {
    width: 44px;
    height: 44px;
    padding: 1;
    border-radius: 10px;
    max-width: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primary-button span {
    display: none;
  }
}
