.home{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
color:  var(--blue-dark);
}

.home-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    box-sizing: border-box;
     min-height:100vh;
     background-color: white;
    border-radius: 12px;
   
}


@media(max-width: 600px)
{
     .home-container
    {
         margin-top: 60px;
    }
}